#pric p,
#pric h1 {
  font-family: Roboto;
  color: rgb(217, 226, 235);
  background-color: #948e8e;
  margin: auto;
}
div {
  text-align: center;
  margin: auto;
}

body {
  background-image: radial-gradient(#997e7e 1.5px, transparent 1.5px);
  background-size: 17px 17px;
  background-color: #bdc4c6;
}

/* From uiverse.io by @AqFox */
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #444549;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 7px),
    #0000 calc(100% - 6px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 15px),
    #000 calc(100% - 13px)
  );
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 11px, 11px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}
.b {
  border: 0.5vmin solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: '';
  display: block;
  position: absolute;
}

.bubble {
  width: 40%;
  height: 25%;
  left: 73%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3vmin;
  background: #ffd;
  box-shadow: 0 -0.25vmin, 0 0.125vmin;
  font-family: 'Comic Sans', 'Comic Neue', sans-serif;
}
